<footer class="footer">
  <div class="footer-list container">
    <div class="topon">
      <div class="footer-address">
        <svg class="footer-logo" width="123" height="16">
          <use href="../img/icons/sprite.svg#icon-logo"></use>
        </svg>
        <ul class="footer-contacts">
          <li class="footer-tel-per">
            <a href="tel:+38 066 543 8912" class="footer-tel"
              >UK: +38 066 543 8912</a
            >
          </li>
          <li class="footer-tel-per">
            <p class="footer-home">Ukraine, Kyiv</p>
          </li>
        </ul>
      </div>
      <div class="footer-block">
        <ul class="footer-social">
          <li class="footer-networks">
            <a
              href="https://www.instagram.com/goitclub/ "
              target="_blank"
              class="footer-block-net"
              >Instagram</a
            >
          </li>
          <li class="footer-networks">
            <a
              href="https://www.facebook.com/goITclub/ "
              target="_blank"
              class="footer-block-net"
              >Facebook</a
            >
          </li>
          <li class="footer-networks">
            <a
              href="https://www.youtube.com/c/GoIT "
              target="_blank"
              class="footer-block-net"
              >Youtube</a
            >
          </li>
        </ul>
        <ul class="footer-social">
          <li>
            <a href="./about.html" class="footer-block-net" target="_blank"
              >About us</a
            >
          </li>
          <li>
            <a href="./courses.html" class="footer-block-net" target="_blank"
              >Our courses</a
            >
          </li>
          <li>
            <a href="./mentors.html" class="footer-block-net" target="_blank"
              >Our mentors</a
            >
          </li>
          <li>
            <a href="./reviews.html" class="footer-block-net" target="_blank"
              >Reviews</a
            >
          </li>
          <li>
            <a href="" class="footer-block-net" target="_blank">Contacts</a>
          </li>
        </ul>
      </div>
      <div class="footer-form-div">
        <form class="footer-form" name="subscribe-form">
          <input
            class="footer-form-input"
            type="email"
            name="email-sub"
            placeholder="Enter your email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          />
          <button class="footer-button" type="submit">Go</button>
        </form>
      </div>
    </div>
    <div class="footer-end">
      <a href="" class="footer-privat"
        >Privacy Policy Public Offering Agreement</a
      >
      <p class="footer-date">2023 Focus Frame © All rights reserved</p>
    </div>
  </div>
</footer>
