<footer class="footer">
  <div class="footer-list container">
    <div class="topon">
      <div class="footer-address">
        <a href="../index.html" class="footer-a-logo">
          <svg class="footer-logo" width="123" height="16">
            <use href="../img/icons/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="footer-contacts">
          <li class="footer-tel-per">
            <a href="tel:380665438912" class="footer-tel"
              >UK: +38 066 543 8912</a
            >
          </li>
          <li class="footer-tel-per">
            <p class="footer-home">Ukraine, Kyiv</p>
          </li>
        </ul>
      </div>
      <div class="footer-social">
        <ul class="footer-pages">
          <li class="footer-networks">
            <a
              href="https://www.instagram.com/goitclub/ "
              target="_blank"
              class="footer-block-net"
              >Instagram</a
            >
          </li>
          <li class="footer-networks">
            <a
              href="https://www.facebook.com/goITclub/ "
              target="_blank"
              class="footer-block-net"
              >Facebook</a
            >
          </li>
          <li class="footer-networks">
            <a
              href="https://www.youtube.com/c/GoIT "
              target="_blank"
              class="footer-block-net"
              >Youtube</a
            >
          </li>
        </ul>
        <ul class="footer-pages">
          <li class="footer-networks">
            <a href="#about" class="footer-block-net">About us</a>
          </li>
          <li class="footer-networks">
            <a href="#courses" class="footer-block-net">Our courses</a>
          </li>
          <li class="footer-networks">
            <a href="#mentors" class="footer-block-net">Our mentors</a>
          </li>
          <li class="footer-networks">
            <a href="#reviews" class="footer-block-net">Reviews</a>
          </li>
          <li class="footer-networks">
            <a href="#signup" class="footer-block-net">Contacts</a>
          </li>
        </ul>
      </div>
      <div class="footer-form-div">
        <form class="footer-form" name="subscribe-form">
          <input
            class="footer-form-input"
            type="email"
            name="email-sub"
            placeholder="Enter your email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          />
          <button class="footer-button" type="submit">Go</button>
        </form>
      </div>
    </div>
    <div class="footer-end">
      <a href="" class="footer-privat"
        >Privacy Policy Public Offering Agreement</a
      >
      <p class="footer-date">2023 Focus Frame © All rights reserved</p>
    </div>
  </div>
</footer>
