<!-- Mentors section  -->
<section>
  <div class="container">
    <h2 class="mentors-title">
      Our <span class="mentors-title-two">Mentors</span>
    </h2>
    <ul class="mentors-list">
      <li class="mentors-item">
        <img
          class="mentors-ill"
          srcset="./img/mentors/mentor1.png 1x, ./img/mentors/mentor1@2x.png 2x"
          src="./img/mentors/mentor1.png"
          alt="Emilia Smith"
          width="180"
          height="180"
          loading="lazy"
        />
        <div class="mentors-content">
          <h3 class="mentors-title-mentors">Emilia Smith</h3>
          <p class="mentors-desk">1.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-item">
        <img
          class="mentors-ill"
          srcset="./img/mentors/mentor2.png 1x, ./img/mentors/mentor2@2x.png 2x"
          src="./img/mentors/mentor2.png"
          alt="Alex Lebedev"
          width="180"
          height="180"
          loading="lazy"
        />
        <div class="mentors-content">
          <h3 class="mentors-title-mentors">Alex Lebedev</h3>
          <p class="mentors-desk">3.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-item">
        <img
          class="mentors-ill"
          srcset="./img/mentors/mentor3.png 1x, ./img/mentors/mentor3@2x.png 2x"
          src="./img/mentors/mentor3.png"
          alt="Mia Dubrovska"
          width="180"
          height="180"
          loading="lazy"
        />
        <div class="mentors-content">
          <h3 class="mentors-title-mentors">Mia Dubrovska</h3>
          <p class="mentors-desk">2.0 years of experience</p>
        </div>
      </li>
      <li class="mentors-item">
        <img
          class="mentors-ill"
          srcset="./img/mentors/mentor4.png 1x, ./img/mentors/mentor4@2x.png 2x"
          src="./img/mentors/mentor4.png"
          alt="Eliot Kovalev"
          width="180"
          height="180"
          loading="lazy"
        />
        <div class="mentors-content">
          <h3 class="mentors-title-mentors">Eliot Kovalev</h3>
          <p class="mentors-desk">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
