<link rel="stylesheet" href="../css/mobilemenu.css" />

<div class="menu-container js-menu-container" id="mobile-menu">
<button class="menu-toggle js-close-menu">

  <svg
  fill="currentColor"
  viewBox="0 0 20 20"
  xmlns="http://www.w3.org/2000/svg"
  width="24"
  height="24"
>
  <path
    fill-rule="evenodd"
    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
    clip-rule="evenodd"
  ></path>
</svg>

  </button>
 
    <ul class="list-mob-menu ">
      <li class="mob-menu-link ">
        <a class="mob-menu" href="./about.html">About us</a>
      </li>
      <li class="mob-menu-link">
        <a class="mob-menu" href="./courses.html">Our courses</a>
    </li>
        <li class="mob-menu-link link">
            <a class="mob-menu" href="./mentors.html">Our mentors</a>
          </li>
          <li class="mob-menu-link link">
            <a class="mob-menu" href="./reviews.html">Reviews</a>
          </li>
          <li class="mob-menu-link link">
            <a class="mob-menu" href="./reviews.html">Contacts</a>
          </li>
    </ul>
    
</button>



</div>

<script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
      integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
      crossorigin="anonymous"
    ></script>

    <script defer src="js/mobile-menu.js"></script>