<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="menu-close" width="32" height="32">
      <use href="./img/icons/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="mobile-menu">
    <li class="mobile-menu-list">
      <a href="#about" class="mobile-menu-link link">About us</a>
    </li>
    <li class="mobile-menu-list">
      <a href="#courses" class="mobile-menu-link link">Our courses</a>
    </li>
    <li class="mobile-menu-list">
      <a href="#mentors" class="mobile-menu-link link">Our mentors</a>
    </li>
    <li class="mobile-menu-list">
      <a href="#reviews" class="mobile-menu-link link">Reviews</a>
    </li>
    <li class="mobile-menu-list">
      <a href="#contacts" class="mobile-menu-link link">Contacts</a>
    </li>
  </ul>
  <div class="photo-box"></div>
</div>
