<section class="reviews">
    <div class="reviews-container container">
        <h2 class="reviews-h">Reviews</h2>
        <ul class="reviews-list">
            <li class="reviews-item">
                <div class="reviews-student">
                    <div class="reviews-img">
                        <img src="./img/reviews/reviews1.png" 
                            srcset="./img/reviews/reviews1.png 1x,
                            ./img/reviews/reviews1.png 2x" 
                            width="56px" 
                            height="56px" 
                            alt="Abraham Baker">
                    </div>
                    <div class="reviews-text">
                        <h3 class="reviews-h-third">Abraham Baker</h3>
                        <h4 class="reviews-h-forth">Student</h4>
                    </div>
                </div>
                <ul class="reviews-stars">
                    <li>
                        <svg class="reviews-icon-pinck" width="16px" height="16px">
                            <use href="../img/icons/sprite.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="reviews-icon-pinck" width="16px" height="16px">
                            <use href="../img/icons/sprite.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="reviews-icon-pinck" width="16px" height="16px">
                            <use href="../img/icons/sprite.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="reviews-icon-pinck" width="16px" height="16px">
                            <use href="../img/icons/sprite.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="reviews-icon-star" width="16px" height="16px">
                            <use href="../img/icons/sprite.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>  
                <p class="reviews-p">I am very pleased that I decided to enroll 
                    in photography school. The teachers turned 
                    out to be very talented and experienced 
                    professionals who share their knowledge 
                    and are dedicated to their work. 
                    I was able to expand my skills and discover 
                    my own style.
                </p>             
            </li>
            <li class="reviews-item reviews-amanda">
                <div class="reviews-student">
                    <div class="reviews-img">
                        <img src="./img/reviews/reviews2.png" 
                        srcset="./img/reviews/reviews2.png 1x, 
                        ./img/reviews/reviews2.png 2x" 
                        width="56px" 
                        height="56px" 
                            alt="Amanda Lowery">
                    </div>
                    <div class="reviews-text">
                        <h3 class="reviews-h-third">Amanda Lowery</h3>
                        <h4 class="reviews-h-forth">Student</h4>
                    </div>
                </div>
                <ul class="reviews-stars">
                    <li>
                        <svg class="reviews-icon-pinck" width="16px" height="16px">
                            <use href="../img/icons/sprite.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="reviews-icon-pinck" width="16px" height="16px">
                            <use href="../img/icons/sprite.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="reviews-icon-pinck" width="16px" height="16px">
                            <use href="../img/icons/sprite.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="reviews-icon-pinck" width="16px" height="16px">
                            <use href="../img/icons/sprite.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="reviews-icon-star" width="16px" height="16px">
                            <use href="../img/icons/sprite.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>  
                <p class="reviews-p">The courses at the photography school exceeded all 
                    my expectations. I gained not only technical knowledge, 
                    but also inspiration and motivation to reach new heights 
                    in my creativity. Hands-on classes and workshops helped
                    me understand different styles of photography.
                </p>
            </li>
        </ul>
    </div>
</section>