<section>
  <div class="signup container">
    <div class="form-wrapper">
      <h2 class="signup-header" id="signup">
        Sign <span class="tittle-up">Up</span>
      </h2>
      <p class="signup-text">
      Please use the form below to contact us. Enter your name, email, and message and we'll get back to you shortly.</p>
      <form class="signup-form">
      <div class="input-wrapper">
      <label class="form-label">
      <input
        class="form-input"
        type="text"
        name="user-name"
        placeholder="Enter your name"
        maxlength="32"
        pattern="[A-Za-z]{1,32}"
      /></label></div>
      <div class="input-wrapper">
      <label class="form-label">
      <input
        class="form-input"
        type="email"
        name="user-email"
        placeholder="Enter your email"
        pattern="[\w-\.]+@([\w-]+\.)+[\w-]{2,4}"
      />
        </label>
      </div>
      <div class="textarea-wrapper">
        <label class="form-label" for="user-message"></label>
        <textarea
          class="form-textarea"
          name="user-message"
          id="user-message"
          placeholder="Message"
          rows="7"
          required
          minlength="4"
        ></textarea>
      </div>
          <button class="form-button" type="submit">SEND</button>
          <p class="sign-up-text">By clicking on “Send” button, you agree to our
          <a
            class="policy-link link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            >
            Privacy Policy
          </a>
          and allow Promodo to use this information for marketing purposes.
        </p>
        </label>
      </form>
    </div>
    <div class="cameras-container">
      <div class="smaller-camera">
        <img src="./img/signup/camera1.png"
        alt=""
        width="163"
        height="154"
        />
      </div>
      <div class="bigger-camera">
        <img src="./img/signup/camera2.png"
        alt=""
        width="240"
        height="296"
        />
      </div>
    </div>
  </div>  
</section>
