<h2 class="signup-section">Sign Up</h2>
<p class="signup-text">
Please use the form below to contact us. Enter your name, email, and message and we'll get back to you shortly.</p>
<form>

<div class="signup-name">
    <label class="form-label">
<input
      class="form-input"
      type="text"
      name="user-name"
      placeholder="Enter your name"
      pattern="[A-Za-z0-9]"
    /></label>

<div class="signup-email">
    <label class="form-label">
    <input
      class="form-input"
      type="email"
      name="user-email"
      placeholder="Enter your email"
      pattern="[A-Za-z0-9]"
    />
  </label>
</div>

<div class="message-container">
      <label class="modal-form-label" for="user-message"></label>
      <textarea
        class="form-textarea"
        name="user-message"
        id="user-message"
        placeholder="Message"
        rows="7"
        required
        minlength="7"
      ></textarea>
    </div>
        <button class="form-button" type="submit">Send</button>
        <p>By clicking on “Send” button, you agree to our 
        <a
          class="modal-agrement-link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          >
          Privacy Policy
        </a>
and allow Promodo to use this information for marketing purposes.
</p>
      </label>
    </div>
</form>
