.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: var(--primary-font);
  background-image: url(../img/footer/Graphic.png);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 374.98px) {
  .footer {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 25px;
  }
}
.topon {
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .topon {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 74px;
  }
}
@media only screen and (min-width: 1280px) {
  .topon {
    margin-bottom: 50px;
  }
}
.footer-a-logo{
  display: block;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .footer-a-logo {
    margin-bottom: 25px;
  }
}
.footer-logo {
  fill: var(--white);
  width: 123px;
  height: 16px;
  
}
.footer-address {
  font-style: normal;
}
@media only screen and (max-width: 767.98px) {
  .footer-address {
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .footer-address {
    margin-right: 58px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-address {
    margin-right: 285px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer-address {
    margin-right: 341px;
  }
}
.footer-contacts {
  display: block;
}
.footer-tel-per:not(:last-child){
  margin-bottom: 10px;
}
.footer-tel {
  color: var(--white);
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
}
.footer-home {
  color: var(--white);
  font-size: 14px;
  line-height: 1.3;
}
.footer-social {
  display: flex;
  gap: 40px ;
}
@media only screen and (max-width: 767.98px) {
  .footer-social {
    margin-bottom: 75px;
  }
}
@media only screen and (min-width: 768px) {
  .footer-social{
    margin-right: 59px;
    gap: 25px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-social {
    margin-right: 130px;
    gap: 50px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer-social {
    margin-right: 191px;
    gap: 100px;
  }
}
.footer-pages{
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media only screen and (min-width: 1280px) {
  .footer-pages{
    gap: 20px;
  }
}
.footer-block-net {
  color: var(--white);
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-block-net:hover,
.footer-block-net:focus {
  color: var(--brown);
}
@media only screen and (min-width: 768px) {
  .footer-form-div {
    margin-top: 0;
  }
}
.footer-form {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
@media only screen and (min-width: 1280px) {
  .footer-form {
    gap: 16px;
  }
}
.footer-form-input {
  width: 267px;
  height: 60px;
  border-radius: 12px;
  border-color: transparent;
  outline: transparent;
  background-color: var(--white);
  font-size: 16px;
  line-height: 1.3;
  padding-left: 18px;
  color: var(--dark-gray);
}
@media only screen and (min-width: 768px) {
  .footer-form-input {
    width: 178px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-form-input {
    width: 216px;
  }
}
.footer-form-input::placeholder {
  color: var(--dark-gray);
}
.footer-button {
  color: var(--white);
  font-size: 20px;
  line-height: 1.2;
  background-color: var(--dark-gray);
  cursor: pointer;
  display: block;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 12px;
  text-align: center;
}
.footer-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-privat {
  color: var(--white);
  font-size: 12px;
  line-height: 1.3;
  max-width: 147px;
  max-height: 32px;
}
.footer-date {
  color: var(--white);
  font-size: 12px;
  line-height: 1.3;
  max-width: 116px;
  max-height: 32px;
}
