.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: var(--primary-font);
  background-image: url(../img/footer/Graphic.png);
}
@media only screen and (max-width: 374.98px) {
  .footer {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 25px;
  }
}
.topon {
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .topon {
    display: flex;
    flex-wrap: wrap;
  }
}
.footer-logo{
fill: var(--white);
width: 123px;
height: 16px;
margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
   .footer-logo{
    margin-bottom: 25px;
  }
}
.footer-address {
  font-style: normal;
}
@media only screen and (min-width: 768px){
  .footer-address {
    margin-right: 58px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-address {
    margin-right: 285px;
  }
}
@media only screen and (min-width: 1440px) {
    .footer-address {
      margin-right: 341px;
    }
  }
.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.footer-tel {
  display: flex;
  color: var(--white);
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  max-width: 142px;
}
.footer-home {
  color: var(--white);
  font-size: 14px;
  line-height: 1.3;
}
.footer-block {
  margin-top: 40px;
  display: flex;
  gap: 40px;
}
@media only screen and (min-width: 768px) {
  .footer-block {
    margin-right: 59px;
    gap: 25px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-block {
    margin-right: 135px;
    gap: 50px;
  }
}
@media only screen and (min-width: 1440px) {
    .footer-block {
      margin-right: 191px;
      gap: 100px;
    }
  }
.footer-social {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media only screen and (min-width: 1280px) {
  .footer-social {
   gap: 20px;  
  }
}
.footer-block-net {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-block-net:hover,
.footer-block-net:focus {
  color: var(--brown);
}
.footer-form-div {
  margin-top: 75px;
}
@media only screen and (min-width: 768px){
  .footer-form-div {
    margin-top: 0;
  }
}
.footer-form {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
@media only screen and (min-width: 1440px) {
  .footer-form {
    gap: 16px ;
  }
}
.footer-form-input {
  width: 267px;
  height: 60px;
  border-radius: 12px;
  border-color: transparent;
  outline: transparent;
  background-color: var(--white);
  font-size: 16px;
  line-height: 1.3;
  padding-left: 18px;
  color: var(--dark-gray);
}
@media only screen and (min-width: 768px){
  .footer-form-input {
    width: 178px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-form-input {
    width: 216px;
  }
}
.footer-form-input::placeholder {
  color: var(--dark-gray);
}
.footer-button {
  color: var(--white);
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1.2;
  background-color: var(--dark-gray);
  cursor: pointer;
  display: block;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 12px;
  text-align: center;
}
.footer-end {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 768px){
  .footer-end {
    margin-top: 74px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-end {
    margin-top: 50px;
  }
}
.footer-privat {
  color: var(--white);
  font-size: 12px;
  line-height: 1.3;
  max-width: 147px;
  max-height: 32px;
}
.footer-date {
  color: var(--white);
  font-size: 12px;
  line-height: 1.3;
  max-width: 116px;
  max-height: 32px;
}