.header {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.header-container {
  display: flex;
}
.header-wrapper {
  display: flex;
  align-items: center;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: var(--black);
  width: 335px;
  padding: 0 14px;
}
@media only screen and (max-width: 1279.98px) {
  .header-wrapper {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 768px) {
  .header-wrapper {
    width: 504px;
    padding: 0 20px;
    margin-right: 14px;
  }
}
@media only screen and (min-width: 1280px) {
  .header-wrapper {
    width: 822px;
    padding: 0 50px;
    margin-right: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .header-wrapper {
    width: 982px;
  }
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header-logo-link {
  padding: 17px 0;
}
@media only screen and (max-width: 767.98px) {
  .header-logo-link {
    margin-right: auto;
  }
}
@media only screen and (min-width: 768px) {
  .header-logo-link {
    padding: 22px 0;
  }
}

.header-logo-icon {
  fill: var(--white);
  display: block;
}

.header-list {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .header-list {
    display: flex;
    align-items: center;
    gap: 28px;
  }
}
@media only screen and (min-width: 1440px) {
  .header-list {
    display: flex;
    gap: 40px;
  }
}
.header-list-link {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 21px 0;

  transition: color var(--animation);
}
.header-list-link:hover,
.header-list-link:focus {
  color: var(--brown);
}

.header-mobile-icon-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: var(--dark-gray);
  border-radius: 50%;
  margin-right: 14px;
}
@media only screen and (min-width: 768px) {
  .header-mobile-icon-circle {
    display: none;
  }
}
.header-mobile-icon {
  fill: var(--brown);
  opacity: 40%;
  transition: fill var(--animation);
}
@media only screen and (min-width: 768px) {
  .header-mobile-icon {
    display: none;
  }
}
.header-mobile-icon:active {
  opacity: 100%;
}
.burger-menu-button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
@media only screen and (min-width: 1280px) {
  .burger-menu-button {
    display: none;
  }
}
.burger-menu-icon {
  fill: var(--white);
}
.header-button {
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.55;
  text-transform: uppercase;

  border-radius: 12px;
  background-color: var(--white);
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  transition: color var(--animation), background-color var(--animation);
}
@media only screen and (max-width: 767.98px) {
  .header-button {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .header-button {
    width: 186px;
    padding: 16px 58px;
  }
}
@media only screen and (min-width: 1280px) {
  .header-button {
    min-width: 238px;
    padding: 16px 84px;
  }
}
.header-button:hover,
.header-button:focus {
  color: var(--brown);
  background-color: var(--dark-gray);
}

/*
|====================================
| Mobile menu
|====================================
*/

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 1280px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 40%;
  width: 60vw;
  height: 100vh;
  padding-top: 180px;
  background-color: var(--brown);
  z-index: 999;
  display: flex;
  flex-direction: column;
  transform: translateX(200%);
  transition: transform 250ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .menu-container {
    padding-top: 232px;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .menu-container .menu-toggle {
    right: 32px;
  }
}

.mobile-menu {
  margin-left: 20px;
  margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    margin-left: 64px;
  }
}

.mobile-menu-link {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.mobile-menu-link:active {
  font-weight: 700;
}

.mobile-menu-list:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .mobile-menu-list:not(:last-child) {
    margin-bottom: 28px;
  }
}

.photo-box {
  background-image: url(../img/mobile-menu/camera-tablet-menu.jpg);
  width: 100%;
  height: 55%;
  background-size: cover;
  background-position: 50%;
}

@media screen and (min-width: 623px) and (max-width: 767.98px) {
  .photo-box {
    background-position: unset;
  }
}

@media screen and (min-width: 768px) {
  .photo-box {
    height: 65%;
    background-position: unset;
  }
}
