.header-container {
  display: flex;
}
.header-wrapper {
  display: flex;
  align-items: center;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: var(--black);
  width: 335px;
  padding: 0 14px;
}
@media only screen and (max-width: 1279.98px) {
  .header-wrapper {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 768px) {
  .header-wrapper {
    width: 504px;
    padding: 0 20px;
    margin-right: 14px;
  }
}
@media only screen and (min-width: 1280px) {
  .header-wrapper {
    width: 822px;
    padding: 0 50px;
    margin-right: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .header-wrapper {
    width: 982px;
  }
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header-logo-link {
  padding: 17px 0;
}
@media only screen and (max-width: 767.98px) {
  .header-logo-link {
    margin-right: 94px;
  }
}
@media only screen and (min-width: 768px) {
  .header-logo-link {
    padding: 22px 0;
  }
}

.header-logo-icon {
  fill: var(--white);
  display: block;
}

.header-list {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .header-list {
    display: flex;
    align-items: center;
    gap: 28px;
  }
}
@media only screen and (min-width: 1440px) {
  .header-list {
    display: flex;
    gap: 40px;
  }
}
.header-list-link {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 21px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-link:hover,
.header-list-link:focus {
  color: var(--brown);
}

.header-mobile-icon-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: var(--dark-gray);
  border-radius: 50%;
  margin-right: 14px;
}
@media only screen and (min-width: 768px) {
  .header-mobile-icon-circle {
    display: none;
  }
}
.header-mobile-icon {
  fill: var(--brown);
  opacity: 40%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .header-mobile-icon {
    display: none;
  }
}
.header-mobile-icon:active {
  opacity: 100%;
}
.burger-menu-button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  .burger-menu-button {
    display: none;
  }
}
.burger-menu-icon {
  fill: var(--white);
}
.header-button {
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.55;
  text-transform: uppercase;

  border-radius: 12px;
  background-color: var(--white);
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (max-width: 767.98px) {
  .header-button {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .header-button {
    width: 186px;
    padding: 16px 58px;
  }
}
@media only screen and (min-width: 1280px) {
  .header-button {
    width: 238px;
    padding: 16px 84px;
  }
}
.header-button:hover,
.header-button:focus {
  color: var(--brown);
  background-color: var(--dark-gray);
}
