.hero {
  padding-top: 90px;
  z-index: 1;
  position: relative;
  background-image: url(../img/bg-img/bg-img.png);
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 160px;
  }
}

.hero-container {
  background-color: var(--dark-gray);
  border-radius: 30px;
}

.hero-tittle {
  margin-bottom: 20px;
  max-width: 295px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.6px;
}
.hero-photography {
  color: var(--brown);
  font-family: var(--primary-font);
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -1.6px;
}
.hero-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
  margin-bottom: 40px;
  display: inline-block;
}

.hero-icon-star {
  fill: transparent;
  stroke: var(--black);
}

.hero-student {
  display: flex;
  gap: 40px;
}
.hero-student-list {
  display: flex;
  margin-right: -25px;
}
.hero-student-review {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.hero-student-thumb {
  border-radius: 50%;
  border: 2px solid #1d1d1d;
  background: var(
    --avatar-user-square-caitlyn-king-neutral-background,
    url(<path-to-image>),
    lightgray 50% / cover no-repeat,
    #e0e0e0
  );
  width: 44px;
  height: 44px;
}
.hero-student-thumb:nth-child(1) {
  position: relative;
  z-index: 3;
}
.hero-student-thumb:nth-child(2) {
  position: relative;
  z-index: 2;
  left: -10px;
}
.hero-student-thumb:nth-child(3) {
  position: relative;
  z-index: 1;
  left: -24px;
}
.hero-student-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  max-width: 67px;
}
.hero-svg-arrow {
  fill: currentColor;
}
.hero-reviews-form {
  display: flex;
  gap: 12px;
}
.hero-star {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--brown);
  border-radius: 50%;
}
.hero-reviews-tittle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-bottom: 4px;
}
.hero-reviews-number {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: -0.64px;
}
.main-thumb {
  max-width: 259px;
  margin: 0 auto;
}
.hero-main-photo {
  max-width: 100%;
  display: block;
}
@media screen and (max-width: 767.98px) {
  .hero-text-box {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
  }

  .hero-student-link-id {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .hero-text-box {
    margin-bottom: 31px;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .hero-tittle {
    max-width: 517px;
    font-size: 60px;
    font-weight: 500;
    line-height: 1.07;
    letter-spacing: -2.4px;
  }
  .hero-photography {
    font-size: 60px;
    font-weight: 400;
    line-height: 1.07;
    letter-spacing: -2.4px;
  }
  .hero-text {
    max-width: 418px;
    margin-bottom: 40px;
  }
  .hero-student-thumb {
    width: 54px;
    height: 54px;
  }
  .hero-student-review {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .hero-student-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .hero-student-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.64px;
    max-width: 82px;
  }
  .hero-star {
    width: 50px;
    height: 50px;
  }
  .hero-reviews-tittle {
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.64px;
    margin-bottom: 8px;
  }
  .hero-reviews-number {
    line-height: 1.25;
  }
  .main-thumb {
    max-width: 393px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .hero-text-box {
    padding-left: 32px;
    padding-right: 155px;
    padding-top: 64px;
    margin-bottom: 40px;
  }
}
/* Desktop */
@media screen and (min-width: 1280px) {
  .hero-container {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    display: flex;
    gap: 20px;
  }
  .hero-tittle {
    max-width: 563px;
  }
  .hero-tittle {
    font-size: 64px;
    line-height: 1.06;
    letter-spacing: -2.56px;
  }
  .hero-text {
    margin-bottom: 136px;
  }
  .main-thumb {
    max-width: 397px;
  }
  .hero-student {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1440px) {
  .hero-container {
    padding-right: 100px;
    gap: 130px;
  }
}
