.reviews-item {
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.reviews-div {
  margin: 20px;
}

.reviews-h {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -1.12px;
  margin-bottom: 40px;
}

.reviews-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.reviews-h-third {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}

.reviews-h-forth {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.24px;
}

.reviews-stars {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  margin-left: 66px;
  margin-bottom: 20px;
}

.reviews-icon-pinck {
  fill: var(--brown);
}

.reviews-icon-star {
  fill: #414141;
}

.reviews-p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
}

.reviews-img {
  border-radius: 100px;
  background: var(
    --avatar-user-square-ethan-valdez-neutral-background,
    url(<path-to-image>),
    lightgray 50% / cover no-repeat,
    #e0e0e0
  );
}

.reviews-student {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 1279px) {
  .reviews-amanda {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .reviews-item {
    max-width: 640px;
    margin: 0 auto;
  }

  .reviews-text {
    align-items: right;
  }

  .reviews-h {
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -1.92px;
    margin-bottom: 50px;
  }

  .reviews-h-third {
    line-height: 28px;
  }

  .reviews-h-forth {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.28px;
  }

  .reviews-p {
    font-size: 15px;
    line-height: 1.25;
    letter-spacing: -0.32px;
  }

  .reviws-list {
    padding: 50px 20px 0 20px;
  }

  .reviews-stars {
    float: right;
    margin: 0;
  }

  .reviews-student {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-item {
    max-width: 530px;
    margin: 0;
  }

  .reviews-list {
    gap: 17px;
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .reviews-item {
    max-width: 610px;
  }

  .reviews-list {
    gap: 20px;
  }
}
